@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Titillium+Web:wght@400;700&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Titillium Web', sans-serif; */

.container {
  display: flex;
  flex-wrap: wrap;
}

.container-column {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.coin-container {
  display: flex;
}

.coin-img {
  width: 35vw;
  margin: 0.5em;
  padding: 0.25em 0;
}

li:nth-child(1),
li:nth-child(4),
li:nth-child(5),
li:nth-child(8),
li:nth-child(9) {
  background-color: #3d60a2;
}

li:nth-child(2),
li:nth-child(3),
li:nth-child(6),
li:nth-child(7),
li:nth-child(10) {
  background-color: #4268af;
}

.title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  padding-right: 0.5em;
  text-align: right;
}

.coin-symbol {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  padding-right: 1em;
  text-align: right;
}

.data {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  margin-left: 0.5em;
}

.coin-button {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #4369b2;
  border: solid 1px #fff;
  color: #fff;
  margin-top: 1em;
}

.title-details {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  padding-left: 0.5em;
}

.coin-detail-container {
  display: flex;
  margin: 0 auto;
  width: 100vw;
  justify-content: center;
}

.stats-container {
  width: 100vw;
  text-align: center;
  padding: 0;
}

.price-up {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  margin-left: 0.5em;
  color: #00ff27;
}

.price-down {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  margin-left: 0.5em;
  color: #FF0000;
}
